.icon-file {
    display: inline-block;
    width: 70px !important;
    height: 70px !important;
    // background-image: url('../../../static/img/attachments-sprite.png') !important;
    background-position: -75px -225px;
    vertical-align: middle;
}
.icon-file-s {
    display: inline-block;
    width: 42px !important;
    height: 42px !important;
    // background-image: url('../../../static/img/attachments-sprite.png') !important;
    background-position: -572px -376px;
    vertical-align: middle;
}
.icon-file_7z {
    background-position: -75px 0px;
}
.icon-file_7z_s {
    background-position: -347px -450px;
}
.icon-file_access {
    background-position: 0px -75px;
}
.icon-file_access_s {
    background-position: -235px -572px;
}
.icon-file_ai {
    background-position: -150px 0px;
}
.icon-file_ai_s {
    background-position: -141px -572px;
}
.icon-file_archive {
    background-position: 0px -150px;
}
.icon-file_archive_s {
    background-position: -47px -572px;
}
.icon-file_asm {
    background-position: -150px -150px;
}
.icon-file_asm_s {
    background-position: -572px -517px;
}
.icon-file_bmp {
    background-position: -225px -75px;
}
.icon-file_bmp_s {
    background-position: -572px -423px;
}
.icon-file_bt {
    background-position: 0px -225px;
}
.icon-file_bt_s {
    background-position: -572px -329px;
}
.icon-file_cdr {
    background-position: -150px -225px;
}
.icon-file_cdr_s {
    background-position: -572px -235px;
}
.icon-file_code {
    background-position: -300px 0px;
}
.icon-file_code_s {
    background-position: -572px -141px;
}
.icon-file_compose {
    background-position: -300px -150px;
}
.icon-file_compose_s {
    background-position: -572px -47px;
}
.icon-file_crack {
    background-position: 0px -300px;
}
.icon-file_crack_s {
    background-position: -517px -525px;
}
.icon-file_css {
    background-position: -150px -300px;
}
.icon-file_css_s {
    background-position: -423px -525px;
}
.icon-file_csv {
    background-position: -300px -300px;
}
.icon-file_csv_s {
    background-position: -329px -525px;
}
.icon-file_emf {
    background-position: -375px -75px;
}
.icon-file_emf_s {
    background-position: -235px -525px;
}
.icon-file_excel, .icon-file_xls, .icon-file_xlsx {
    background-position: -375px -225px;
}
.icon-file_excel_s, .icon-file_xls_s, .icon-file_xlsx_s {
    background-position: -141px -525px;
}
.icon-file_fla {
    background-position: 0px -375px;
}
.icon-file_fla_s {
    background-position: -47px -525px;
}
.icon-file_gif {
    background-position: -150px -375px;
}
.icon-file_gif_s {
    background-position: -525px -470px;
}
.icon-file_help {
    background-position: -300px -375px;
}
.icon-file_help_s {
    background-position: -525px -376px;
}
.icon-file_ico {
    background-position: -450px 0px;
}
.icon-file_ico_s {
    background-position: -525px -282px;
}
.icon-file_ie {
    background-position: -450px -150px;
}
.icon-file_ie_s {
    background-position: -525px -188px;
}
.icon-file_iso {
    background-position: -450px -300px;
}
.icon-file_iso_s {
    background-position: -525px -94px;
}
.icon-file_jpg {
    background-position: 0px -450px;
}
.icon-file_jpg_s {
    background-position: -525px 0px;
}
.icon-file_jpeg {
    background-position: 0px -450px;
}
.icon-file_jpeg_s {
    background-position: -525px 0px;
}
.icon-file_js {
    background-position: -150px -450px;
}
.icon-file_js_s {
    background-position: -394px -450px;
}
.icon-file_mail {
    background-position: 0 0;
}
.icon-file_mail_s {
    background-position: -376px -525px;
}
.icon-file_media {
    background-position: -225px -450px;
}
.icon-file_media_s {
    background-position: -441px -450px;
}
.icon-file_mov {
    background-position: -75px -450px;
}
.icon-file_mov_s {
    background-position: -525px -47px;
}
.icon-file_mp3 {
    background-position: -450px -375px;
}
.icon-file_mp3_s {
    background-position: -525px -141px;
}
.icon-file_ppt, .icon-file_pptx {
    background-position: -450px -225px;
}
.icon-file_ppt_s, .icon-file_pptx_s {
    background-position: -525px -235px;
}
.icon-file_pdf {
    background-position: -450px -75px;
}
.icon-file_pdf_s {
    background-position: -525px -329px;
}
.icon-file_png {
    background-position: -375px -375px;
}
.icon-file_png_s {
    background-position: -525px -423px;
}
.icon-file_post {
    background-position: -225px -375px;
}
.icon-file_post_s {
    background-position: 0px -525px;
}
.icon-file_psd {
    background-position: -75px -375px;
}
.icon-file_psd_s {
    background-position: -94px -525px;
}
.icon-file_rar {
    background-position: -375px -300px;
}
.icon-file_rar_s {
    background-position: -188px -525px;
}
.icon-file_raw {
    background-position: -375px -150px;
}
.icon-file_raw_s {
    background-position: -282px -525px;
}
.icon-file_rm {
    background-position: -375px 0px;
}
.icon-file_rm_s {
    background-position: -300px -450px;
}
.icon-file_rtf {
    background-position: -225px -300px;
}
.icon-file_rtf_s {
    background-position: -470px -525px;
}
.icon-file_swf {
    background-position: -75px -300px;
}
.icon-file_swf_s {
    background-position: -572px 0px;
}
.icon-file_tif {
    background-position: -300px -225px;
}
.icon-file_tif_s {
    background-position: -572px -94px;
}
.icon-file_ttf {
    background-position: -300px -75px;
}
.icon-file_ttf_s {
    background-position: -572px -188px;
}
.icon-file_txt {
    background-position: -225px -225px;
}
.icon-file_txt_s {
    background-position: -572px -282px;
}
.icon-file_ukn {
    background-position: -75px -225px;
}
.icon-file_ukn_s {
    background-position: -572px -376px;
}
.icon-file_vcf {
    background-position: -225px -150px;
}
.icon-file_vcf_s {
    background-position: -572px -470px;
}
.icon-file_video {
    background-position: -225px 0px;
}
.icon-file_video_s {
    background-position: 0px -572px;
}
.icon-file_wmf {
    background-position: -75px -150px;
}
.icon-file_wmf_s {
    background-position: -94px -572px;
}
.icon-file_word, .icon-file_doc, .icon-file_docx {
    background-position: -150px -75px;
}
.icon-file_word_s, .icon-file_doc_s, .icon-file_docx_s {
    background-position: -188px -572px;
}
.icon-file_xml {
    background-position: -75px -75px;
}
.icon-file_xml_s {
    background-position: -282px -572px;
}
.icon-file_dpt {
    background-position: 0px -619px;
}
.icon-file_dpt_s {
    background-position: -329px -572px;
}
.icon-file_wps {
    background-position: -75px -619px;
}
.icon-file_wps_s {
    background-position: -376px -572px;
}
.icon-file_et {
    background-position: -150px -619px;
}
.icon-file_et_s {
    background-position: -423px -572px;
}
.icon-file_dps {
    background-position: -225px -619px;
}
.icon-file_dps_s {
    background-position: -470px -572px;
}
.icon-file_ett {
    background-position: -300px -619px;
}
.icon-file_ett_s {
    background-position: -517px -572px;
}
.icon-file_wpt {
    background-position: -375px -619px;
}
.icon-file_wpt_s {
    background-position: -564px -572px;
}