.icon-iconinbox,
.icon-icondelete {
    color: #0085CC;
}

.icon-iconimportant {
    color: #f45c00;
}

.icon-iconemail,
.icon-iconwait {
    color: #00a8c1;
}

.item .icon-iconflag {
    color: #F24B4B;
}

.icon-iconfly {
    color: #03A917;
}

.icon-iconfile {
    color: #777777;
}

.icon-icontask {
    color: #7CFA3A;
}

.icon-iconsafe {
    color: #FC6262;
}

.icon-iconvirus {
    color: #777;
}

.icon-iconrubbish {
    color: #0cac17;
}

.icon-iconnob {
    color: #777;
}
.icon-iconwrite {
	color: #319AEB;
}
.icon-iconcontacts {
	color: #00A8C1;
}
.icon-icon_schedule {
	color: #599FF6;
}
.icon-iconset {
	color: #777777;
}
.item {
    .icon-iconfolder,
    .icon-iconfilelock {
        color: #F4B200;
    }
}