$main-color: #0085cc;
$sub-color: #fff;

/** navigation bar */
$nav-bar-background-color: #0085cc;
$nav-bar-color: #fff;
$nav-bar-height: 45px;

/** footer bar */
$footer-bar-height: 56px;

/** list */
$list-default-color: #222;
$list-date-color: #c2c2c2;
$list-highlight-color: #0085cc;

/** read */
$read-subject-color: #222;
$read-from-box-background-color: #cdeed1;
$read-from-box-color: #038011;
$read-from-box-border: 1px solid #81d48b;
$read-to-box-background-color: #cce7f5;
$read-to-box-color: #005380;
$read-to-box-border: 1px solid #7fc2e5;

/** avatar */
$avatar-name-color: #222;
$avatar-email-color: #777;
$avatar-department-color: #777;

/** addressbook */
$addressbook-icon-size: 64px;
$addressbook-default-color: #777;
$addressbook-title-color: #222;

/** compose */
$compose-attachment-icon-size: 26px;
$compose-contact-color: #01aef0;

/** attachment */
$progress-bar-color: #82e394;

/* button-color*/
$warning: #ff4c4c;

